<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='Projects/css/projects.css')}}" >
    <title>Project Home </title>
</head>
<body>
    <!-- Adding the navigator -->
    <nav class="main-nav" id="main-nav">
        <nav class="left-nav" id="left-nav">
            <a href="/" class="home"> Home </a>
            <!-- <a href="/about" class="about"> About </a>
            <a href="/contact" class="contact"> Contact </a> -->
            <a href="/projects" class="projects"> Projects </a>
            <a href="/send-emails" class="send-mails"> Send Mail </a>
            <!-- <a href="" class="internship"> Internship </a> -->
        </nav>
        
    </nav> 

    <nav class="right-nav" id="right-nav">

    </nav>
    
        <h3 class="projects-para"> Projects  </h3>
        <div class="projects-div" id="projects-div">
            <ul class="first-list" > 
                <li class="steam-table-list" id="steam-table-list"> 
                    <p> Steam Tables </p>
                    <div class="steam-tables-project">
                        <img class="steam-tables-image" src="{{url_for('static', filename='Projects/images/plot.png')}} alt=" srcset="" />
                            
                    </div>
                </li>
                <li class="temp-converter-list" id="temp-converter-list">
                    <p> Temperature Converter </p>
                    <div class="temp-converter-project">
                        <img class="temp-converter-image" src="{{url_for('static', filename='Projects/images/temp.jpg')}} alt=" alt="" srcset="" />
                    </div> 
                </li>
                <li class="cpu-usage-list" id="cpu-usage-list">
                    <p> Cpu Usage Analysis </p>
                    <div class="cpu-usage-project">
                        <img class="cpu-usage-image" src="{{url_for('static', filename='Projects/images/cpu_utils.jpg')}}" alt="" srcset="" />
                    </div>
                </li>
            
            </ul>

            <ul class="second-list">
                <li class="green-exchange-list" id="green-exchange-list">
                    <p> Green Exchange </p>
                    <div class="green-exchange-project">
                        <img class="cpu-usage-image" src="{{url_for('static', filename='Projects/images/green_exchange_logo.png')}}" alt="" srcset="">
                    </div>
                </li>
                <li class="FASGD-III" id="fasgd-iii">
                    <p> FASGD-III</p>
                    <div class="fasgd-iii">
                        <img class="cpu-usage-image" src="{{ url_for('static', filename='Projects/images/hand_recognition.jpg') }}"  srcset="">
                    </div>
                </li>
                <li class="cars-website" id="cars-website">
                    <p> Cars Website </p>
                    <div class="cars-website-div"> 
                        <img class="cars-image" src="{{ url_for('static', filename='Projects/images/cars-website.jpg') }}" srcset=""> 
                    </div>
                </li>
           
              
            </ul>

          

         

        </div>
    

        <script>
            
        </script>

 
  
        <!-- Adding the footer section -->
        <div class="footer" id="footer">
            <div class="f-footer">
            <ul>
                <li> <a href="#"> <b> Resources </b> </a> <hr> </li>
                <li> <a href="#"> FAQ </a> </li>
                <li> <a href="#"> Store </a> </li>
                <li> <a href="#"> Help Center </a> </li>
                <li> <a href="#"> Community </a> </li>
                <li> <a href="#"> Branding </a> </li>
                <li> <a href="#"> Media Assets </a> </li>
            </ul>
            </div>

            <div class="s-footer">
                <ul>
                <li> <a href="#"> <b> Terms Of Service </b> </a> <hr> </li>
                <li> <a href="#"> Product </a> </li>
                <li> <a href="#"> Status </a> </li>
                <li> <a href="#"> Privacy Policy </a> </li>
                <li> <a href="#"> Advertisers </a> </li>
                <li> <a href="#"> Website & Email </a> </li>
                </ul>
            </div>

            <div class="t-footer">
                <ul>
                <li> <a href="#"> <b> Social Media </b> </a> <hr> </li>
                <li> <a href="#"> Reddit </a> </li>
                <li> <a href="#"> Twitter </a> </li>
                <li> <a href="#"> Facebook </a> </li>
                <li> <a href="#"> YouTube </a> </li>
                </ul>
            </div>


            <div class="lst-footer">
            <ul>
                <li> <b class="contacts"> CONTACTS </b> <hr>
                <p style="font-size: 15px;">
                    Lagos, Nigeria. <br>
                    
                </p>
                <p class="language-select-para"> Choose a language <br>
                    <select class="language-select" name="">
                    <option value="English"> English </option>
                    <option value="Russian"> Russian </option>
                    </select>
                </p>
                </li>
            </ul>

            </div>
        </div>

        <!-- Adding the second footer -->
        <div class="second_footer" id="second_footer">
            <div class="second_footer_inner_div">

            <div class="s-footer-inner-div">
                <p class="s-footer-inner-div"> Terms Of User | Report a Security Issue </p>
            </div>
            </div>
        </div>
  
    
    <script src="{{ url_for('static', filename='Projects/javascript/project.js') }}"></script>
</body>
</html>